/* WelcomeBanner.css */
.welcome-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 110vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -250px;
    color: white;
    z-index: -100; /* Assuming your text should be white as per the image */
  }
  
  .banner-content {
    position: absolute;
    bottom: 120px;
    left: 0;
    padding: 20px;
   color: white;
    font-size: 30px; /* Adjust size as necessary */
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 20px;
    font-size: 30px; /* Adjust size as necessary */
    cursor: pointer; /* To indicate it's clickable */
    border: none; /* Removes default styling */
  }
  
  button:hover {
    background-color: #333333; /* Slightly lighter on hover for feedback */
  }
  
  .banner-content h1 {
    font-size: 3rem; /* Adjust font size as needed */
    margin-bottom: 0.5rem;
  }
  
  .banner-content p {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 2rem;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 250px; /* Adjust width as needed */
  }
  
  .search-container button {
    position: absolute;
    right: 0;
    border: none;
    background: orange; /* Use a color that suits your design */
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* You might want to add additional styling for responsiveness and aesthetics. */
  /* WelcomeBanner.css */
/* ... existing styles ... */

/* Styles for the events list */
.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* This adds some space between your events */
  }
  
  .event {
    flex: 1;
    min-width: 250px; /* Minimum width for each event, adjust as needed */
    max-width: 500px; /* Maximum width for each event, adjust as needed */
    margin-bottom: 20px; /* Adds some space at the bottom of each event */
  }
  
  /* Styles for images inside events */
  .event-image {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounds the corners of the image */
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .events-list {
      flex-direction: column;
      align-items: center;
    }
  
    .event {
      /* Take full width minus the margin on mobile */
      min-width: calc(100% - 40px);
    }
  }
  
  /* Add other responsive and aesthetic styles as needed */
  